.header{
    height: 90vh;
    background-size: cover;
    background-image: linear-gradient(
        to right, 
        rgba($color-primary-light,0.8), 
        rgba($color-primary ,0.8)), 
        url('../img/hero.jpg');
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    @include respond (tab-port){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 100%);
    }
    &__logo-container{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-container{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        text-align: center;
    }
}