@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// MEDIA QUERY MANAGER-------------------------

// mind the order -- screen sizes in em -- 1em=16px always  in case of device width

// tab-landscape (tab-land)    :   <1200px
// tab-portrait (tab-port)     :   <900px
// mobile (phone)              :   <600px
// desktop large (xxl)  :   >1800px

@mixin respond ($container) {
    @if $container == tab-land {
        @media(max-width:75em){ 
           @content 
        }
    }
    @if $container == tab-port {
        @media(max-width:56.25em){  
           @content 
        }
    }
    @if $container == phone {
        @media(max-width:37.5em){  
           @content 
        }
    }
    @if $container == xxl {
        @media(min-width:112.5em){  
           @content 
        }
    }
}