.card-rotating{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    width: 100%;
    &__side{
        position: absolute;
        top: 0;
        left: 0;
        height: 52rem;
        width: 100%;
        transition: all .8s ease;
        backface-visibility: hidden;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        border-radius: .3rem;
        overflow: hidden;
        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
            &--1{
                background-image: linear-gradient(to right bottom, 
                $color-secondary-light, 
                $color-secondary-dark);
            }
            &--2{
                background-image: linear-gradient(to right bottom, 
                $color-primary-light, 
                $color-primary-dark);
            }
            &--3{
                background-image: linear-gradient(to right bottom, 
                $color-tertiary-light, 
                $color-tertiary-dark);
            }
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }
    &__img{
        background-blend-mode: screen;
        background-size: cover;
        height: 23rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1{
            background-image:linear-gradient(to right bottom,
            $color-secondary-light, 
            $color-secondary-dark),
            url(../../img/nat-5.jpg);
        }
        &--2{
            background-image:linear-gradient(to right bottom,
            $color-primary-light, 
            $color-primary-dark),
            url(../../img/nat-6.jpg);
        }
        &--3{
            background-image:linear-gradient(to right bottom,
            $color-tertiary-light, 
            $color-tertiary-dark),
            url(../../img/nat-7.jpg);
        }
    }
    &__heading{
        text-transform: uppercase;
        text-align: right;
        font-size: 2.8rem;
        font-weight: 300;
        color: $color-white;
        position: absolute;
        top: 13rem;
        right: 2.2rem;
        width: 70%;
    }
    &__heading-span{
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        padding: .8rem 1.5rem;
        &--1{
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light,.85), 
            rgba($color-secondary-dark,.85));
        }
        &--2{
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light,.85), 
            rgba($color-primary-dark,.85));
        }
        &--3{
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light,.85), 
            rgba($color-tertiary-dark,.85));
        }
    }
    &__details{
        ul{
            list-style: none;
            margin-top: 4rem;
            li{
                font-size: 1.5rem;
                @include respond (tab-port){
                    font-size: 2rem;
                }
                text-transform: capitalize;
                width: 70%;
                padding: 1rem 0;
                margin: 0 auto;
                text-align: center; 
                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
    &__cta{
        @include absCentre;
        &__text{
            text-align: center;
            color: $color-white;
            &--only{
                font-size: 1.5rem;
                text-transform: uppercase;
            }
            &--price{
                font-size: 6rem;
                font-weight: 100;
            }
        }
        &__btn{
            margin-top: 8rem;
        }
    }
}

@include respond (tab-port){
    .card-rotating{
        position: relative;
        height: auto;
        width: 100%;
        border-radius: .3rem;
        box-shadow: 0 .5rem 2rem rgba($color-black, .2);
        &__side{
            position: relative;
            display: inline-block;
            height: auto;
            width: 100%;
            box-shadow: none;
            &--front{
                padding-bottom: 20%;
            }            
            &--back{
                transform: rotateY(0);
                -webkit-clip-path : polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                z-index: 100;
                margin-top: -15%;
                overflow: hidden;
            }
        }
        &:hover &__side--front{
            transform: rotateY(0);
        }
        &:hover &__side--back{
            transform: rotateY(0deg);
        }
        &__cta{
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            &__text{
                text-align: center;
                color: $color-white;
                padding-top: 6rem;
                &--only{
                    font-size: 2.5rem;
                }
                &--price{
                    font-weight: 300;
                }
            }
            &__btn{
                margin: 1rem 0 3rem 32%;
            }
        }
    }
}